@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-to-visible {
  transition: visibility 0s linear, opacity 0.5s ease-out 0.5s;
  opacity: 1;
  visibility: visible;
}
.fade-to-hidden {
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  opacity: 0;
  visibility: hidden;
}
